<div class="component-title">
    <h1 class="ctitle">
        Profile
    </h1>
</div>

<div class="profilemain">

    <div class="pm-content">
        <div class="pm-row">

            <div class="pm-img">
                <img src="../../../../assets/img/Athena_Bitcoin_LOGO-01.png" alt="">
            </div>
            
            <div class="pm-info">

                <!--item de dato-->
                <div class="pm-info-item">
                    <h3 class="info">
                        Name:
                    </h3>
                    <span class="span-info">Athena Holdings</span>
                </div>

                <!--item de dato-->
                <div class="pm-info-item">
                    <h3 class="info">
                        Adress:
                    </h3>
                    <span class="span-info">Athena Holdings El Salvador S.A. de C.V. Edificio Insigne, Nivel 10 oficina 1010, avenida Las Magnolias, Colonia San Benito, San Salvador.</span>
                </div>

                <!--item de dato-->
                <div class="pm-info-item">
                    <h3 class="info">
                        Phone:
                    </h3>
                    <span class="span-info">+503 2136 6859</span>
                </div>


            
                
               
            </div>
        </div>
        
    </div>

    

</div>